<%= simple_form_for @a_user,
    :url => url_for(:action => 'create', :controller => 'a_users'),
    :method => 'post' do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
