<p id="notice"><%= notice %></p>
<%= will_paginate @a_users %>

<h1>Students List</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th>User Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @a_users.each do |a_user| %>
      <tr>
        <td><%= a_user.email %></td>
        <td><%= a_user.role %></td>
        <td><%= a_user.user_id %></td>
        <td><%= link_to 'Show', a_user_path(a_user) %></td>
        <td><%= link_to 'Edit', edit_a_user_path(a_user) %></td>
        <td><%= link_to 'Destroy', a_users_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New A User', new_a_user_path %>
